body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.section-one {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;;
    align-items: center;
    width: 850px;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 48px;
}

.hero-image {
    width: 380px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
}

.hero-text {
    width: 350px;
}

h1 {
    margin: 0;
}
.secondary-text {
    margin: 4px;
}
.logo {
    font-size: 24px;
}
.logo,
h1,
button,
.hero-image {
    color: #F9FAF8;
    
}
.hero-text.main-text {
    font-size: 48px;
    font-weight: 900;

}
a,
.secondary-text {
    font-size: 18px;
}
a,
.hero-text {
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
}
button {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 4px;
    width: 88px;
    padding: 4px 8px;
    margin: 8px 0;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 950px;
}
.item {
    text-align: center;
}
.box {
    border: 2px solid #3882F6;
    width: 220px;
    height: 175px;
    border-radius: 8px;
}
.section-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: px;
}
blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 900px;
}
blockquote,
.quote {
    margin: 0;
}
figure {
    display: flex;
    flex-direction: column;
    margin: 88px 0;
}
figcaption {
    align-self: flex-end;
}